.spyproject
.idea
__pycache__
*__pycache__*
logs
cache
.ipynb_checkpoints
*.ipynb
*.torch
renderings
pretrained
descr_cache
rendered_views.txt
fake*
old*
render_check
masks*
sphere_render*
notebook_code.py
extrinsic2pyramid
*.pth
triplet_renders
gifs
feat_steps
extrinsic2pyramid
plots
.vscode
nerf_renders
render_straight
renders_rotate
measure_nerf*
jonas*
*test_keypoints*
viz*
vreph_stuff
vreph_coms
ign_*
pose_priors
to_refine*
conv_analy*
renderings_dense_post
query_mask*
pt2_1*
paper_plots
rebuttal_plots
chess_7*
examples
*.zip
data